@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
#header {
  height: 80px;
  display: flex;
  justify-content: space-around;
}

#header .logo {
  width: 100px;
  height: 100px;
}

#header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header nav ul {
  display: flex;
  list-style: none;
}

#header nav ul li {
  margin-right: 28px;
  font-size: 20px;
  line-height: 80px;
}

#header nav ul li a {
  color: #000;
  text-decoration: none;
}

#header nav ul li a:hover {
  text-decoration: underline;
}

#slider {
  width: 100%;
  height: 700px;
  background: url("./img/bg-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
#slider .slider-wrap {
  position: absolute;
  top: 120px;
  left: 120px;
}
#slider h2 {
  max-width: 800px;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 80px;
  text-transform: uppercase;
}
#slider p {
  max-width: 657px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0 24px 0;
}

#slider a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background-color: #db2d2e;
}

#content section {
  padding: 80px 0;
  max-width: 1170px;
  margin: 0 auto;
}
#content .category {
  font-size: 36px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  color: #363636;
  margin-bottom: 12px;
}
#content section .line {
  width: 120px;
  height: 1px;
  background-color: #db2d2e;
  margin: 0 auto;
  position: relative;
  margin-bottom: 48px;
}
#content section .line::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #db3d3e;
  margin: 0 auto;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  min-height: 300px;
  background-color: black;
  padding-top: 80px;
}
.fot-1 {
  height: 200px;
}
.title-1 {
  max-width: 800px;
  text-align: center;
  margin-left: 350px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.title-1-1 {
  text-align: center;
  margin-top: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.fot-2 {
  height: 100px;
  display: flex;
}
.title-2 {
  width: 70%;
  height: 100%;
}
.icon-2 {
  width: 30%;
  height: 100%;
}
.icon-2 i {
  line-height: 100px;
  font-size: 40px;
  width: 100px;
  color: #fff;
}
.title-2 a {
  text-decoration: none;
  line-height: 100px;
  color: #bbbb;
  font-size: 19px;
  margin-left: 30px;
}
.title-2 a:hover {
  text-decoration: underline;
}
